<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>予約フォーム</title>
</head>
<body>
    <div align="center">
        <h1>こどもお預かりサービスのご予約フォーム</h1>
        <img src="https://pictogram2.com/p/p0354/2.png" alt="家族画像" width="300" height="300">
        <p>当館では専任保育士による、こどもお預かりサービスをおこなっております。<br>
        下記のフォームを入力し申請ボタンを押していただければ、いつでもご利用いただけます。</p>
        <div>
            <!-- 入力画面 -->
            <form action="{{url_for('kid_reserve.reserve_check')}}", method="POST">
                <!-- 日時 -->
                <label> ・ご利用になられる日時をお選びください</label>
                <input type="text" name="reserve_date" size="30" placeholder="2020/04/01">
                <br>
                <label>・保護者のIDを入力してください</label>
                <input type="text" name="user_id" size="30" placeholder="00000001">
                <br>
                <label>・保護者の名前を入力してください</label>
                <input type="text" name="user_name" size="30" placeholder="田中太郎">
                <br>
                <!-- おもちゃの貸し出しセレクト -->
                <p>さらに当館では、図書以外にもおもちゃ、アニメを貸し出しております。<br>
                貸し出し希望の場合は借りるアイテム名をいれていください。</p>
                <br>
                <label>貸し出しおもちゃの選択【おもちゃ・アニメ・借りない】</label>
                <input type="text" name="item" size="30" placeholder="アニメ">
                <br>
                <button type="submit">送信</button>
            </form>            
        </div>
    </div>         
</body>
</html>
