<html lang="jp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/style_money.css" rel="stylesheet">
        <title>予約確定ページ</title>
    </head>
    <body>
        <div align="center">
            <h1>こどもお預かりサービスのご予約が完了いたしました</h1>
            <p>日時：{{ reserve_date }}</p>
            <p>保護者様のID：{{ user_id }}</p> 
            <p>保護者様の名前：{{ user_name }}</p>
            <p>貸し出しおもちゃ：{{ item }}</p>
        </div>
        
        <a href="{{url_for('top_page.mypage')}}">マイページへ</a>
    </body>
    </html>

