body{
    background-image: url("https://images.unsplash.com/photo-1507738978512-35798112892c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-size: cover; 


    background-color:black;

}

h1{
    font-family: 'Times New Roman', Times, serif;
}

.pp{
    /* background-color: white; */
    /* opacity: 0.4; */
    background-color: rgba(255,255,255,0.8);
    background-blend-mode:lighten;
}