<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>本の検索</title>
</head>
<body>
    <p>検索結果</p>


    <p>{{book.book_name}}は{{ book.book_genre }}です</p>

    <p><a href="{{url_for('top_page.mypage')}}">マイページへ戻る</a></p>

    <p><a href="{{url_for('top_page.logout')}}">ログアウト</a></p>






    <!-- <h3>本一覧</h3>

    <table border="1">
        <tr>
          <th>本のID</th>
          <th>本の題名</th>
        </tr>
        <tr>
          <td>1234567</td>
          <td>コンサル一年目が学ぶこと</td>
        </tr>
        <tr>
          <td>28348279</td>
          <td>夢をかなえる像</td>
        </tr>
    </table>

    <p>Topへ戻る</p> -->

    
</body>
</html>