<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/book_borrow.css">
    <title>借りている本</title>
</head>
<body>
    
  
    <!-- books = Books.query.order_by(Books.book_name.desc().all())-->    
    <!--book_deadline 返却期限-->
    <!--本を借りた日時の変数がきまっていない-->
    <body>
        <h1>借りている本</h1>
        <table class="book" border='1' >
            <tr class="book_header">
                <th class="book_cell">タイトル</th>
                <th class="book_cell">ジャンル</th>
            </tr> 
                {% for book2 in books %}
                {% for book in borrowbook %}
  
                {% if user_id == book.user_id %}
                {% if book.book_id == book2.book_id %}
                {% if book.frag == 0 %}
                <tr>
                <td class="book_cell">{{book2.book_name}}</td>
                <td class="book_cell">{{book2.book_genre}}</td>
                </tr>
                {% endif %}
                {% endif %}
                {% endif %}
               
                {% endfor %}
                {% endfor %}
        </table>
</body>

<!-- 貸し出し履歴を出すメソッドを入れる -->
    
    <a href="{{url_for('book.bookhistory')}}">貸し出し履歴を見る</a>
</body>
</html>
