<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/recommend.css">
    <title>Document</title>
</head>
<body>
    <button onclick="history.back()">戻る</button>
    <!--ジャンルいる？-->
    <!--books = Books.query.order_by(Books.book_name.desc().all()) -->
    <h1>あなたへのおすすめ本</h1>
    <h2 class="book_genre">おすすめジャンル:{{mostgenre}}</h2>
    <table class="book" border="3">
        <tr class="book_header">
            <th class="book_cell">タイトル</th>

        </tr>
        
        {% for book3 in books %}
        {% if mostgenre == book3.book_genre %}

        <tr>
            <td class="book_cell">{{book3.book_name}}</td>
        </tr>
        {% endif %}


        {% endfor %}


    </table> 
</body>
</html>
