<!DOCTYPE html>
<html lang="jp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>電子マネー</title>
    </head>
    <body>
        <button onclick="history.back()">戻る</button>
        <br>
        {{ user_name }}さんの電子マネーチャージ履歴
        <table>
            <thead>
                <tr>
                <th>日時</th>
                <th>チャージ金額</th>
                </tr>
            </thead>
            <tbody>
                {% for cardhistory in histories %}
                    {% if cardhistory.user_id == user_id %}
                <tr>
                    <td>{{ cardhistory.history_date }}</td>
                    <td>{{ cardhistory.chargemoney }}</td>
                </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </body>
    </html>