<!DOCTYPE html>
<html lang="jp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link href="/static/style_money.css" rel="stylesheet">

        <title>電子マネー</title>
    </head>
    <body>
        <span>残高：</span>
        {{ summoney }}
        <ul>

            <li><a href="{{url_for('money.money_card')}}">口座登録</a></li>
            <li><a href="{{url_for('money.money_charge')}}">チャージ</a></li>
            <li><a href="{{url_for('money.charge_history')}}">入金履歴</a></li>

        </ul>
    </body>
</html>