<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/user.css">
    <title>利用者一覧</title>
</head>
<body>

    <h1>利用者一覧</h1>
    <table class="book" border="3">
        <tr class="book_header">
            <th class="book_cell">ユーザーID</th>
            <th class="book_cell">名前</th>
        </tr>
        {% for user in users %}
        <tr class="book_row">
            <td class="book_cell">{{user.user_id}}</td>
            <td class="book_cell">{{user.user_name}}</td>
        </tr>
        {% endfor%}
    </table>

</body>
</html>